<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action='/cars'>
    <label>Search
      <input type='text' name='term' value="<%= locals.term %>" />
    </label>

    <button type='submit'>Submit</button>
  </form>

  <table>
    <thead>
      <tr>
        <td>Id</td>
        <td>Make</td>
        <td>Model</td>
      </tr>
    </thead>
    <tbody>
      <% locals.cars.forEach((car, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= car.make %></td>
          <td><%= car.model %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
