<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action='/cars' method='POST'>
    <label>Make
      <input type='text' name='make' value="<%= locals.make %>" />
    </label>

    <label>Model
      <input type='text' name='model' value="<%= locals.model %>" />
    </label>

    <button type='submit'>Submit</button>
  </form>
</body>
</html>
